{% extends  'base.html' %}
{% load static %}

{% block content %}
<img src="{% static "images/HEP APP BANNER PATROCINIO.png" %}" class="mx-auto d-block img-fluid">
<p>
    Esta aplicación es un desarrollo elaborado por la contingencia nacional en el marco de la alianza colaborativa
    entre la Facultad de Ingeniería de la Universidad Andrés Bello y la Fundación El Pino, con el patrocinio de Fundación Clínica San Pedro.
    El objetivo principal de esta iniciativa es poder llegar a todos los funcionarios del Hospital El Pino
    con información oficial respecto a la situación que vive el mundo y poder disponibilizar para su lectura
    y visualización oportuna, los protocolos y flujogramas que se están desarrollando a diario.
</p>
<p align="center">
    Agradecemos nos hagan llegar sus sugerencias a <a href="mailto:fundacionelpino@gmail.com">fundacionelpino@gmail.com</a>.    
</p>
<p align="center">
    Desarrollado por: Ingeniería Civil Informática UNAB, 2020    
</p>
<img src="{% static "images/footer.png" %}" class="mx-auto d-block img-fluid">
{% endblock %}