{% extends  'base.html' %}
{% load static %}

{% block content %}
<img src="{% static "images/elpino.png" %}" class="float-left" width="300" height="150">
<img src="{% static "images/sanpedro.png" %}" class="float-right" width="300" height="150">
<img src="{% static "images/unab.jpg" %}" class="mx-auto d-block" width="265" height="223">
<p>
    Esta aplicación es un desarrollo elaborado por la contingencia nacional en el marco de la alianza colaborativa
    entre la Facultad de Ingeniería de la Universidad Andrés Bello y la Fundación El Pino, con el patrocinio de Fundación Clínica San Pedro.
</p>
<p>
    El objetivo principal de esta iniciativa es poder llegar a todos los funcionarios del Hospital El Pino
    con información oficial respecto a la situación que vive el mundo y poder disponibilizar para su lectura
    y visualización oportuna, los protocolos y flujogramas que se están desarrollando a diario.
</p>
<p>
    Agradecemos nos hagan llegar sus sugerencias a <a href="mailto:fundacionelpino@gmail.com">fundacionelpino@gmail.com</a>.    
</p>
<p>
    Desarrollado por: Ingeniería Civil Informática UNAB, 2020    
</p>
{% endblock %}