{% extends  'base.html' %}

{% block content %}
<div class="container mt-3">
  <h2>Biblioteca</h2>
  {% for documento in documentos %}
    <div class="media border p-3">
      <img src="{{documento.link}}" alt="Video" class="mr-3 mt-3 rounded-circle" style="width:60px;">
      <div class="media-body">
        <h4>{{documento.titulo}} <a href="/documento/{{ documento.id }}/"><small><i>Ver</i></a></h4>
      </div>
    </div>
  {% endfor %}
</div>
{% if user.is_staff %}
  <a class="btn btn-primary btn-lg" href="/documento/create/" role="button">Agregar</a>
{% endif %}
{% endblock %}