{% extends  'base.html' %}
{% load covid19_extras %}

{% block content %}
<div class="jumbotron">
        <h1 class="display-4">{{documento.titulo}}</h1>
        {% if documento.tipo == 0 %}
                {% if documento.link %}
                        <a href="{{documento.link}}" class="card-img-top">Descargar</a>
                {% else %}
                        <a href="{{documento.archivo.url}}" class="card-img-top">Descargar</a>
                {% endif %}
        {% endif %}
        {% if documento.tipo == 1 %}
                {% if documento.link %}
                        <img src="{{documento.link}}" class="card-img-top" alt="...">
                {% else %}
                        <a href="{{documento.archivo.url}}">Descargar</a>
                {% endif %}
        {% endif %}
        {% if documento.link and documento.tipo == 2 %}
                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/{{documento.link | convertirLinkYoutube}}"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
        {% endif %}
</div>
{% endblock %}