{% extends 'base.html' %}
{% load static %}
{% block content %}
<img src="{% static "images/HEP APP BANNER ESTADISTICAS.png" %}" class="mx-auto d-block img-fluid">

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
          <th>Fecha</th>
          <th>Casos Hospital</th>
          <th>Test PCR Hospital</th>
          <th>Pacientes VMI</th>
          <th>Total Pacientes Hospitalizados día</th>
          <th>Funcionarios Contagiados</th>
          <th>Test PCR a Funcionarios</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>{{estadistica.fecha | date:"d/m/Y"}}</td>
          <td>{{estadistica..confirmados_Hospital}}</td>
          <td>{{estadistica.examenes_Hospital}}</td>
          <td>{{estadistica.hospital_VMI}}</td>
          <td>{{estadistica.hospital_TOTAL}}</td>
          <td>{{estadistica.funcionarios_contagiados}}</td>
          <td>{{estadistica.funcionarios_PCR}}</td>
      </tr>
  </tbody>

  </table>
    <p>¿Desea borrar el registro?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Confirmar borrado</button>
      </form>
</div>

{% endblock %}