{% extends  'base.html' %}
{% load static %}

{% block content %}
  <img src="{% static "images/HEP APP BANNER ESTADISTICAS.png" %}" class="mx-auto d-block img-fluid">

  <div id="container" style="width: 100%;">
    <div class="row">
      <div class="col-sm-8">
        <canvas id="casos_hospital_chart" data-url="{% url 'casos_hospital_chart' %}"></canvas>
      </div>
      <div class="col-sm-8">
        <canvas id="casos_funcionarios_chart"></canvas>
      </div>
      <div class="col-sm-8">
        <canvas id="camas_hospital_chart"></canvas>
      </div>
    </div>
  </div>
<!--
  <table width="100%">
    <tr>
      <td align="center">
        <strong style="font-size: xxx-large;">{{estadisticas.confirmados_Hospital}}</strong>
      </td>
      <td align="center">
        <strong style="font-size: xxx-large;">{{estadisticas.examenes_Hospital}}</strong>
      </td>
      <td align="center">
        <strong style="font-size: xxx-large;">{{estadisticas.funcionarios_contagiados}}</strong>
      </td>
      <td align="center">
        <strong style="font-size: xxx-large;">{{estadisticas.funcionarios_PCR}}</strong>
      </td>
    </tr>
    <tr>
      <td align="center">
        CASOS
      </td>
      <td align="center">
        TEST PCR
      </td>
      <td align="center">
        CASOS
      </td>
      <td align="center">
        TEST PCR
      </td>
    </tr>
    <tr>
      <td align="center">
        HOSPITAL
      </td>
      <td align="center">
        HOSPITAL
      </td>
      <td align="center">
        FUNCIONARIOS
      </td>
      <td align="center">
        FUNCIONARIOS
      </td>
    </tr>
  </table>
-->
  <script>

    $(function () {

      var $casos_hospital_Chart = $("#casos_hospital_chart");
      var $casos_funcionarios_Chart = $("#casos_funcionarios_chart");
      var $camasHospitalChart = $("#camas_hospital_chart");
      $.ajax({
        url: $casos_hospital_Chart.data("url"),
        success: function (data)
        {
          var ctx = $casos_hospital_Chart[0].getContext("2d");
          new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: data.datasets_h  
            },
            options: {
              responsive: true,
              scales: {
                yAxes: [{
                  ticks: {
                    min: 0
                  }
                }]
              },
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                fontSize: 16,
                text: 'Hospital'
              },
              plugins: {
                colorschemes: {
                scheme: 'brewer.SetOne3'
                }
              }
            }
          });
          var ctx2 = $casos_funcionarios_Chart[0].getContext("2d");
          new Chart(ctx2, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: data.datasets_f  
            },
            options: {
              responsive: true,
              scales: {
                yAxes: [{
                  ticks: {
                    min: 0
                  }
                }]
              },
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                fontSize: 16,
                text: 'Funcionarios'
              },
              plugins: {
                colorschemes: {
                  scheme: 'brewer.SetOne3'
                }
              }
            }
        });
        var ctx3 = $camasHospitalChart[0].getContext("2d");
          new Chart(ctx3, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: data.datasets
            },
            options: {
              responsive: true,
              scales: {
                yAxes: [{
                  ticks: {
                    min: 0
                  }
                }]
              },
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                fontSize: 16,
                text: 'Hospitalización'
              },
              plugins: {
                colorschemes: {
                  scheme: 'brewer.SetOne3'
                }
              }
            }
          });
        }
      });
    });
  </script>

  {% if user.is_staff %}
    <a class="btn btn-primary btn-lg" href="/estadistica/list/" role="button">Datos Hospital</a>
  {% endif %}
  <a class="btn btn-primary btn-lg" href="/estadisticas_nacionales/" role="button">Nacional</a>
{% endblock %}