{% extends  'base.html' %}

{% block content %}
  <h1>Estadísticas</h1>

  <div id="container" style="width: 100%;">
    <div class="row">
      <div class="col-sm-8">
        <canvas id="contagios_chart" data-url="{% url 'casos_chile_chart' %}"></canvas>
      </div>
      <div class="col-sm-8">
        <canvas id="contagios_hospital_chart" data-url="{% url 'casos_hospital_chart' %}"></canvas>
      </div>
    </div>
  </div>
  <table width="100%">
    <tr>
      <td align="center">
        <strong style="font-size: xxx-large;">{{estadisticas.confirmados_Hospital}}</strong>
      </td>
      <td align="center">
        <strong style="font-size: xxx-large;">{{estadisticas.hospital_contagios}}</strong>
      </td>
    </tr>
    <tr>
      <td align="center">
        CASOS CONFIRMADOS
      </td>
      <td align="center">
        FUNCIONARIOS
      </td>
    </tr>
    <tr>
      <td align="center">
        HOSPITAL
      </td>
      <td align="center">
        CONTAGIADOS
      </td>
    </tr>
  </table>
  <script>

    $(function () {

      var $contagiosChart = $("#contagios_chart");
      $.ajax({
        url: $contagiosChart.data("url"),
        success: function (data)
        {
          var ctx = $contagiosChart[0].getContext("2d");
          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: data.datasets  
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Evolución'
              },
              plugins: {
                colorschemes: {
                scheme: 'brewer.Paired12'
                }
              }
            }
          });
        }
      });
  
      var $contagiosHospitalChart = $("#contagios_hospital_chart");
      $.ajax({
        url: $contagiosHospitalChart.data("url"),
        success: function (data)
        {
          var ctx = $contagiosHospitalChart[0].getContext("2d");
          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: data.datasets  
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              title: {
                display: true,
                text: 'Pacientes Hospitalizados en Hospital El Pino'
              },
              plugins: {
                colorschemes: {
                scheme: 'brewer.Paired12'
                }
              }
            }
          });
        }
      });
    
    });
  </script>

  {% if user.is_staff %}
    <a class="btn btn-primary btn-lg" href="/estadistica/create/" role="button">Agregar</a>
  {% endif %}
{% endblock %}