{% extends 'base.html' %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
        <table class="table table-borderless">
        {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>
                    {% if field.name == "fecha" %}
                        {{field}}
                        <script type="text/javascript">
                            $(function () {
                                $('#id_fecha').datepicker({
                                    dateFormat: 'dd/mm/yy'
                                });
                                $('#id_fecha').datepicker(
                                    'setDate', $('#id_fecha').val()
                                );
                            });
                        </script>
                    {% else %}
                        {{field}}
                    {% endif %}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-lg btn-primary">Guardar</button>
            </td>
        </tr>
        </table>
</form>

{% endblock %}