{% extends  'base.html' %}
{% load static %}
{% block content %}
  <img src="{% static "images/HEP APP BANNER ESTADISTICAS.png" %}" class="mx-auto d-block img-fluid">

  <div id="container" style="width: 100%;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Fecha</th>
                <th>Casos Hospital</th>
                <th>Test PCR Hospital</th>
                <th>Pacientes VMI</th>
                <th>Total Pacientes Hospitalizados día</th>
                <th>Funcionarios Contagiados</th>
                <th>Test PCR a Funcionarios</th>
            </tr>
        </thead>
        <tbody>
        {% for dato in estadisticas %}
            <tr>
                <td><a href="/estadistica/{{dato.id}}/delete/"><i class="fas fa-minus-circle"></i></a></td>
                <td><a href="/estadistica/{{dato.id}}/update/">{{dato.fecha | date:"d/m/Y"}}</a></td>
                <td>{{dato.confirmados_Hospital}}</td>
                <td>{{dato.examenes_Hospital}}</td>
                <td>{{dato.hospital_VMI}}</td>
                <td>{{dato.hospital_TOTAL}}</td>
                <td>{{dato.funcionarios_contagiados}}</td>
                <td>{{dato.funcionarios_PCR}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  {% if user.is_staff %}
    <a class="btn btn-primary btn-lg" href="/estadistica/create/" role="button">Agregar</a>
  {% endif %}
{% endblock %}