{% load static %}
<nav class="navbar navbar-dark bg-danger">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static "images/HEP APP banner.png" %}" style="width:400px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/noticias">
                    <img src="{% static "images/HEP APP NOTICIAS.png" %}" class="mx-auto d-block img-fluid" style="width:50%;">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/estadisticas">
                    <img src="{% static "images/HEP APP ESTADISTICAS.png" %}" class="mx-auto d-block img-fluid" style="width:50%;">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/biblioteca">
                    <img src="{% static "images/HEP APP BIBLIOTECA.png" %}" class="mx-auto d-block img-fluid" style="width:50%;">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <img src="{% static "images/HEP APP PATROCINIO.png" %}" class="mx-auto d-block img-fluid" style="width:50%;">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">{{ user.username }}&nbsp;<i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>