{% extends 'base.html' %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
        <table class="table table-borderless">
        {% for field in form %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>
                    {% if field.name == "fecha" %}
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                {{field}}
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker({
                                    format: 'DD/MM/YYYY hh:mm A',
                                    date: $(fecha)
                                });
                            });
                        </script>
                    {% else %}
                        {{field}}
                    {% endif %}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Guardar</button>
            </td>
        </tr>
        </table>
</form>

{% endblock %}