{% extends  'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Ingrese su usuario y clave</h5>
          <form action="" method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
              <div style="color: red">{{ error }}</div>
            {% endfor %}
            {% for field in form %}
              <div class="form-label-group">
                {{field.label_tag}}
                {{field}}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
              </div>
            {% endfor %}
            <hr class="my-4">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
            <a class="btn btn-lg btn-primary btn-block" href="{% url 'signup' %}" role="button">Registrar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}