{% extends  'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <img class="card-img-top" src="{% static "images/HEP APP COVID.png" %}" alt="Card image cap">
          <form action="" method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
              <div style="color: red">{{ error }}</div>
            {% endfor %}
            {% for field in form %}
              <div class="form-label-group">
                {{field.label_tag}}
                {{field}}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
              </div>
            {% endfor %}
            <hr class="my-4">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingreso</button>
            <a class="btn btn-lg btn-primary btn-block" href="{% url 'signup' %}" role="button">Registro</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}